@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Inter:wght@400;500;600&display=swap');

body {
  margin: 0;
  background-color: #12091f;
  font-family: 'Inter', sans-serif;
  height: 100vh;
}

.ContenedorTitulo {
  display: flex;
  justify-content: center;
}

.Titulo {
  color: #ffff;
}

.ContenedorBoxes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

/*Box Izquierda*/

.BoxIzq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1E1033;
  width: 400px;
  height: 300px;
  border-radius: 20px;
  gap: 70px;
}

.ContenedorTipo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ContenedorActual {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.SelectTipo {
  width: 120px;
  height: 40px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #FF4696;
  background-color: #150b25;
}

.InputMonto {
  width: 220px;
  height: 38px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #FF4696;
  background-color: #150b25;
}

.SelectEquivalente {
  margin-top: 50px;
  width: 120px;
  height: 40px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #FF4696;
  background-color: #150b25;
}

.BtnConvertir {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 10px;
  color: #FF4696;
  background-color: #150b25;
  cursor: pointer;
  gap: 10px;
}

.BtnConvertir img {
  width: 20px;
}

.BtnConvertir:hover {
  color: #150b25;
  background-color: #FF4696;
}

.BtnConvertir:hover img {
  filter: brightness(0) saturate(100%);
}

/*Fin Box Izquierda*/

.BoxDer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #FF4696;
  width: 400px;
  height: 300px;
  border-radius: 20px;
}

.TituloResultado {
  color: #ffff;
  font-size: 2.5rem;
  margin-top: 20px;
}

.SpanResultado {
  color: #ffff;
  font-size: 1.2rem;
  margin-top: 20px;
}